Plasmon_Animation.ipynb
.ipynb_checkpoints
__pycache__
1Slab_Asym.gif
App_Upgrade.ipynb
test.txt
1Slab_Asym.gif
1Slab_Sym.gif
2Slab_AR.gif
2Slab_SM.gif
App_Example
App_Example.py
App_launcher.py
double_slab_asym_delta3.npy
ds_6L_Na_space5_all.npy
